@font-face {
    font-family: "HelveticaNeue";
    src: url(fonts/HelveticaNeue/HelveticaNeue.ttc);
    font-style: Regular;
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

html {
  height: 100%;
}

p:hover {
color: #ff5500;
}

.container-fluid {
  height: 52px;
  background-color: #333333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.top-bar-company {
	width: 162px;
  margin-top: 16px;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #ffffff;
}

.top-bar-text {
  margin-top: 16px;
  text-align: center;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #ffffff;
}

.top-bar-searchbar {
  margin-top: 16px;
  margin-left: 41px;
	font-family: HelveticaNeue;
	font-size: 16px;
	color: #ffffff;
}

.col-1:hover {
  background-color: #242424;
  height: 52px;
}

.search {
  margin-top: 7px;
  border-radius: 0px !important;
  border: 0px !important;
  width: 400px !important;
  margin-left: 41px;
}

/* Start Sidebar Styling */

.side-bar {
	background-color: #333333;
	box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
  padding-right: 0px !important;
}

.list-group {
  margin-top: 66px;
  height: 140px;
  padding: 0px !important;
}

.list-group-item {
height: 52px;
background-color: #333333 !important;
border: 0px !important;
color: white;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: #242424 !important;
}

.menu-button {
  width: 260px;
  height: 52px;
  background-color: #333333;
  color: white;
}


/* createProjectByPattern.js and createProjectView.js */

.container {
  min-height: 650px;
  max-height: 800px;
}

.header{
  height: 41px;
  font-family: HelveticaNeue;
  font-size: 30px;
  color: #000000;
  margin-top: 200px;
  text-align: center;
}

.text{
  width: 30px;
  height: 41px;
  font-family: HelveticaNeue;
  font-size: 30px;
  color: #000000;
  margin-top:46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.enterUrl{
  width: 548px;
  height: 32px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 200;
  color: #676767;
  margin-top:46px;
  text-align: center;
  margin-left: 289px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit{
  width: 250px;
  height: 43px;
  border-radius: 5px;
  background-color: #ff5500;
  border: solid 1px #ff5500;
  color: white;
  font-family: HelveticaNeue;
  font-size: 18px;
  margin-top:46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerCreation{
  width: 316px;
  height: 41px;
  font-family: HelveticaNeue;
  font-size: 30px;
  color: #000000;
  margin-top: 37px;
}

.caption{
  width: 108px;
  height: 19px;
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #999999;
  margin-left: 3px;
  margin-top: 16px;
}

.enterValue{
  width: 841px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;

}

.dropdown{
  width: 400px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;
}

.enterDescription{
  width: 841px;
  height: 105px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;
}

.tags{
  width: 841px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;
}

.buttons{
  margin-top: 100px;
  margin-bottom: 50px;

}

.saveButton{
  width: 119px;
  height: 43px;
  border-radius: 5px;
  background-color: #333333;
  border: solid 1px #333333;
  font-family: HelveticaNeue;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.cancelButton{
  width: 99px;
  height: 43px;
  border-radius: 5px;
  border: solid 1px #cccccc;
  margin-left: 37px;
  font-family: HelveticaNeue;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

 /* Project Container */
.projecttitle {
  width: 626px;
  height: 18px;
  top: 30px;
  font-family: HelveticaNeue;
  font-size: 18px;
  text-align: left;
  color: #000000;
}
.status {
  width: 835px;
  height: 22px;
  top:48px;
  font-family: HelveticaNeue;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
.projectbox {
  width: 835px;
  height: 674px
  margin-top: 70px;
  text-align: left;
  color: #000000;
  border: 2px;
  border-style: outset;
  border-color: grey;
}
.author{
  top:70px;
  width: 835px;
  height: 16px;
  font-family: HelveticaNeue;
  font-size: 16px;
  text-align: left;
  color: #000000;
