body {
  overflow-x: hidden;
  min-height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

html {
  height: 100%;
}

p {
  margin-bottom: 0px !important;
}

a {
  vertical-align: center;
  color: #000000;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

a:hover {
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.Status {
  margin-right: 0.5em;
}

.logo-banner {
  margin-top: 2em;
  margin-left: 12px;
  width: 80%;
}

.container {
  min-height: 100%;
}

.container-fluid {
  z-index: 100;
  height: 52px;
  background-color: #333333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.topbar {
  position: fixed;
  width: 100%;
}

.-previous button, .-next button, .-next, .-previous{
  background-color: #ff5000;
  font-weight: bold  !important;
}


/* Start Sidebar Styling */

.side-bar {
  z-index: 200;
  height: 100%;
  background-color: #333333;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
  padding-right: 0px !important;
  position: fixed;
  width: 15em;
}

.content{
  left: 7em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.list-group {
  margin-top: 2em;
  height: 100%;
  padding: 0px !important;
}

.list-group-item {
  height: 48px;
  background-color: #333333 !important;
  border: 0px !important;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.list-group-item-text {
  vertical-align: -webkit-baseline-middle;
}

.list-group-item:hover {
  text-decoration: none;
  background-color: #242424 !important;
}

.active {
  text-decoration: none;
  background-color: #242424 !important;
  color: white !important;
}

/* End Sidebar Styling */

/* Start SingUp/SignIn Styling */

.service-name{
  width: 5em;
  height: 6em;
  margin-top:2em;
  margin-bottom: 0.1em;
  font-size: 42px;
  color: #333333;
}

.team-name{
  font-size: 30px;
  color: #8d8d8d;
}

.sign-type-desc{
  margin-top: 45px;
  margin-bottom: 30px;
}

.input-group {
  margin: 10px auto;
}

.input-login {
  width: 250px;
}

.register-info{
  color: #ff5500;
}

#email-signup{
  margin-bottom: 22px !important;
}

.sign-container{
   text-align: center !important;
 }

.spinner{
  vertical-align: middle;
  margin-top: 180px;
  margin-bottom: 2em;
  text-align: center;
}

.headerCreation{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.text{
  width: 30px;
  height: 41px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin-top:46px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}



.menu-indicator {
  width: 4px;
  height: 48px;
  background-color: #ff5500;
  left: 0px;
  position: absolute;
  top: 0px;
}

.query-value{
  margin-top: 13px;
  font-weight: 300;
  font-size: 16px;
}

.filter-label {
  margin-top: 13px;
  font-weight: 300;
  font-size: 16px;
  font-weight: bold;
}

.header-tab{
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #000000;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}

/* Profile Details */

.profile-header {
  margin-top: 30px;
  margin-bottom: 10px;
}

.profile-info {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
  font-weight: bold;
}

.profile-icon {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.change-password {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Start Bookmark Styling */
.footer {
  margin-bottom: 50px;
}

.ReactTable {
  display: block;
}

.ReactTable .rt-thead{
  background-color: #292b2c;
  color: #ffffff;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.6);
    box-shadow: inset 0 -3px 0 0 rgba(255, 80, 0, 1) !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.6);
    box-shadow: inset 0 3px 0 0 rgba(255, 80, 0, 1) !important;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border-right: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.ReactTable .rt-tbody .rt-td {
  border-right: none !important;
}

.rt-td {
  font-weight: 100;
  }

.rt-td > a {
    color: black !important;
}

.table-link-text {
  font-weight: bold !important;
  color: black !important;
  width: 100px;
}
