body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;

}

@import 'bootstrapV4/bootstrap.css';

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Roboto/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('fonts/Roboto/roboto-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-v16-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/Roboto/roboto-v16-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('fonts/Roboto/roboto-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-v16-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Roboto/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/Roboto/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Roboto/roboto-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('fonts/Roboto/roboto-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-v16-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Roboto/roboto-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/Roboto/roboto-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/Roboto/roboto-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-v16-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  height: 100%;
}

p {
  margin-bottom: 0px !important;
}

a {
  vertical-align: center;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

a:hover {
  color: inherit;
  text-decoration: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.Status {
  margin-right: 0.5em;
}

.logo-banner {
  margin-left: 20px;
  width: 80%;
}

.container {
  min-height: 100%;
}

.container-fluid {
  z-index: 100;
  height: 52px;
  background-color: #333333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.topbar {
  position: fixed;
  width: 100%;
  background-color: #333333;
  z-index: 200;
}

/* Start Sidebar Styling */

.side-bar {
  z-index: 200;
  height: 100% !important;
  background-color: #333333;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
  padding-right: 0px !important;
  position: fixed;
  display: table;
}

@media (min-width: 992px){
  .side-bar{
      width: 12em;
  }
  .content{
    left: 7em;
  }
}

.content{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.list-group {
  margin-top: 2em;
  height: 100%;
  padding: 0px !important;
}

.list-group-item {
  height: 48px;
  background-color: #333333 !important;
  border: 0px !important;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding : 0px 10px 0px 0px !important;

}

.list-group-item-text {
  vertical-align: -webkit-baseline-middle;
}

.list-group-item:hover {
  background-color: #242424 !important;
}

.active {
  text-decoration: none;
  background-color: #242424 !important;
  color: white !important;
}

/* End Sidebar Styling */

/* Start SingUp/SignIn Styling */

.service-name{
  width: 5em;
  height: 6em;
  margin-top:2em;
  margin-bottom: 0.1em;
  font-size: 42px;
  color: #333333;
}

.team-name{
  font-size: 30px;
  color: #8d8d8d;
}

.sign-type-desc{
  margin-top: 45px;
  margin-bottom: 30px;
}

.input-group {
  margin: 10px auto;
}

.input-login {
  width: 250px;
}

.register-info{
  color: #ff5500;
}

#email-signup{
  margin-bottom: 22px !important;
}

.sign-container{
   text-align: center !important;
 }

.spinner{
  vertical-align: middle;
  text-align: center;
}

.headerCreation{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.text{
  height: 41px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu-indicator {
  width: 4px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.query-value{
  margin-top: 13px;
  font-weight: 300;
  font-size: 16px;
}

.filter-label {
  margin-top: 13px;
  font-weight: 300;
  font-size: 16px;
  font-weight: bold;
}

.header-tab{
  height: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}

/* Profile Details */

.profile-header {
  margin-bottom: 30px;
  margin-top: 20px;

}

.profile-info {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  font-weight: bold;
}

.profile-icon {
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  display: block;
}

.change-password {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Start Bookmark Styling */
.footer {
  margin-bottom: 50px;
}

.ReactTable {
  display: block;
}

.ReactTable .rt-thead{
  background-color: #292b2c;
  color: #ffffff;
}

.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.6);
    box-shadow: inset 0 -3px 0 0 rgba(255, 80, 0, 1) !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.6);
    box-shadow: inset 0 3px 0 0 rgba(255, 80, 0, 1) !important;
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border-right: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.ReactTable .rt-tbody .rt-td {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.ReactTable .rt-tbody .rt-td {
  border-right: none !important;
}

.rt-td {
  font-weight: 100;
  }

.rt-td > a {
    color: black !important;
}

.-previous button, .-next button, .-next, .-previous{
  background-color: #ff5000;
  color : #ffffff !important;
  font-family: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  font-size: 14px;
}
.ReactTable .-pagination .-btn{
  background: #ff5000 !important;
  opacity: 1.0 !important;
}
