body {
  overflow-x: hidden;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

html {
  height: 100%;
}

p {
  margin-bottom: 0px !important;
}

p:hover {
color: #ff5500;
}

a {
  color: #FFF;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;

}

a:hover {
  color: #ff5500;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}

.logo-banner {
  margin-top: 12px;
}

.container {
  min-height: 1024px;
}

.container-fluid {
  height: 52px;
  background-color: #333333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.top-bar-company {
	width: 162px;
  margin-top: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	font-size: 16px;
	color: #ffffff;
}

.top-bar-text {
  margin-top: 16px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	font-size: 16px;
	color: #ffffff;
}

.top-bar-searchbar {
  margin-top: 16px;
  margin-left: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	font-size: 16px;
	color: #ffffff;
}

 .table-project-name {
   color: black;
 }

.padding {
  padding-left: 15px;
  padding-right: 15px;
}


.topbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.search {
  margin-top: 7px;
  border-radius: 0px !important;
  border: 0px !important;
  width: 400px !important;
  margin-left: 41px;
}

/* Start Sidebar Styling */

.side-bar {
	background-color: #333333;
	box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
  padding-right: 0px !important;
}

.list-group {
  margin-top: 100px;
  height: 140px;
  padding: 0px !important;
}

.list-group-item {
height: 52px;
background-color: #333333 !important;
border: 0px !important;
color: white;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: #242424 !important;
}

.active {
  text-decoration: none;
  background-color: #242424 !important;
  color: white !important;
}

.menu-button {
  width: 260px;
  height: 52px;
  background-color: #333333;
  color: white;
}

.header-title {
  margin-top: 100px;
  width : 100%;
  text-align: center;
  color: #333333;
}

/* Start SignIn SignUp Styling */
.sign-container{
  text-align: center !important;
}

.service-name{
  margin-top:3em;
  margin-bottom: 1em;
  font-size: 42px;
  color: #333333;
}

.team-name{
  font-size: 32px;
  color: #8d8d8d;
}

.sign-type-desc{
  margin-top: 45px;
  margin-bottom: 30px;
}

.input-group {
  margin:9px auto;
}

.input-login {
  width: 250px;
}

.input-group-addon {
  border-radius: 0px;
}

.form-control {
  height: 38px;
}

.sign-button {
  width: 250px;
  height: 43px;
  background-color: #ff5500 !important;
  border-color: #ff5500 !important;
  margin: 25px !important;
  font-weight: 200;
}

.btn-primary {
  background-color: #ff5500 !important;
  border-color: #ff5500 !important;
}

.sign-button:hover {
  background-color: #d64802 !important;
}

.register-info{
  color: #ff5500;
}

#email-signup{
  margin-bottom: 22px !important;
}

/* Search Styles */


.clickable-text{
  cursor : pointer;
  color : #ff5500;
}

.table-hover tbody tr:hover td{
  background-color: #333333 !important;
  color : #ff5500 !important;
}

.table-hover tbody tr:hover th{
  background-color: #ffffff;
  color : #000000;
}

.horizontal-divider {
  margin-top: 3em;
  margin-bottom: 5em;
}

.hidden-divider {
  margin-bottom: 5em;
  visibility: hidden;
}

.btn-primary {
  border-radius: 0px !important;
}

.form-control {
  border-radius: 0px !important;
}

.input-group-addon.primary {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

/* createProjectByPattern.js and createProjectView.js */

.header{
  height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  margin-top: 200px;
  text-align: center;
}

.text{
  width: 30px;
  height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  margin-top:46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.enterUrl{
  width: 548px;
  height: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-weight: 200;
  color: #676767;
  margin-top:46px;
  text-align: center;
  margin-left: 289px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit{
  width: 250px;
  height: 43px;
  background-color: #ff5500;
  border: solid 1px #ff5500;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top:46px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerCreation{
  width: 316px;
  height: 41px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
  margin-top: 100px;
}

.caption{
  width: 108px;
  height: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #999999;
  margin-left: 3px;
  margin-top: 16px;
}

.enterValue{
  width: 841px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;

}

.dropdown{
  width: 400px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;
}

.enterDescription{
  width: 841px;
  height: 10;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;
}

.tags{
  width: 841px;
  height: 32px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 0 0 #ececec;
  border: solid 1px #cccccc;
}

.buttons{
  margin-top: 100px;
  margin-bottom: 50px;
}

.menu-indicator {
  width: 4px;
  height: 48px;
  background-color: #ff5500;
  left: 0px;
  position: absolute;
  top: 0px;
}

.saveButton{
  width: 119px;
  height: 43px;
  background-color: #333333;
  border: solid 1px #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.cancelButton{
  width: 99px;
  height: 43px;
  border: solid 1px #cccccc;
  margin-left: 37px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

 /* Project Container */
.projecttitle {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #000000;
}
.status {
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  color: #000000;
}
.projectbox {
  width: 835px;
  height: 674px;
  margin-top: 70px;
  text-align: left;
  color: #000000;
  border: 2px;
  border-style: outset;
  border-color: grey;
}

.author {
  top:70px;
  width: 835px;
  height: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  color: #000000;
}

/* User Collection */

.collection-header {
   margin-top: 5em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}
/* Admin Area Start */

.adminarea-header {
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
}


.pagination-container {
  margin-top: 2em;
}

.pagination {
  justify-content: center !important;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.0rem;
  border-bottom-left-radius: 0.0rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.0rem;
  border-bottom-right-radius: 0.0rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #333333;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table-container {
  margin-top: 2em;
}

.delete-button {
  width: 58px;
  height: 42px;
  background-color: #333333;
  border: solid 1px #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  float: right;
  margin-top: 30px;
  margin-bottom: 10px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
